
* {
    box-sizing: border-box;
} 

.board {
    position: relative;
    width: calc(80px * 8);
    margin: 70px auto;
    background: #fff; 
    box-shadow: 0 0 50px rgba(0,0,0,0.6); 
    -moz-box-shadow: 0 0 50px rgba(0,0,0,0.6); 
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.6); 
    -o-box-shadow: 0 0 50px rgba(0,0,0,0.6); 
}

.tile {
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    float: left;
}
.tile.even:nth-child(odd) {background: #aaa; }
.tile.odd:nth-child(even) {background: #aaa; }


.piece {
    position: absolute;
    width: 78px;
    height: 78px;
    background-color: transparent;
    font-size: calc(80px * .75);
    line-height: 80px;
    text-align: center;
}

.piece:hover {
    cursor: hand;
}

.piece.white::after { color: #00f;}
.piece.black::after { color: #000;}

.piece.king::after { content: "\2654"; }
.piece.queen::after { content: "\2655"; }
.piece.rook::after { content: "\2656"; }
.piece.bishop::after { content: "\2657"; }
.piece.knight::after { content: "\2658"; }
.piece.pawn::after { content: "\2659"; }