<div class="board container {{flipped ? 'flipped' : ''}}">

	<div *ngFor="let tile of tiles | reverse:flipped" 
        class="tile {{(tile.rank % 2) === 1 ? 'odd' : 'even'}}"
        (click)="onSelectTarget(tile)">

        <span [hidden]="!showPosition" class="position">{{tile.position}}</span>

		<div *ngIf="tile.piece"
            class="piece {{tile.piece?.type}} {{tile.piece?.color}}"
            (click)="onSelectSource($event, tile)"
            [ngClass]="{'selected': tile.selected}">
		</div>

	</div>

	<div style="clear:both;"></div>

</div>

Selected Piece: {{sourceTile | json}} <br />
<input type="button" (click)="flipBoard()" value="Flip Board" /> <br />
<input type="button" (click)="toggleShowPosition()" value="{{showPosition ? 'Hide Positions' : 'Show Positions'}}" />